{% extends 'base.html' %}
{% block main %}

<h1>Cadastro</h1>
<p>formulario de cadastro</p>
<main>
        <div>
            <form>
            <h2>Informações Pessoais</h2>
                <label for="nome">Nome:</label>
                <input name="nome" id="nome" placeholder="Seu nome"><br>
                <label for="sobrenome">Sobrenome:</label>
                <input name="sobrenome" id="sobrenome" placeholder="Sobrenome"><br>
                <label for="rg">RG:</label>
                <input name="rg" id="rg" placeholder="RG"><br>
                <label for="cpf">CPF:</label>
                <input name="cpf" id="cpf" placeholder="CPF"><br>
                <label for="data">Data de Nascimento:</label>
                <input type="date" id="data"><br>
                <label>Sexo:</label>
                        <select name="sexo" id="sexo">
                        <option value="selecione">selecione</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Masculino">Masculino</option>
                        </select><br>
                <label for="FOTO1">FOTO1</label>
                <input type="file" name="foto1"  accept="image/png, image/jpeg"  multiple /><br>
                <label for="FOTO2">FOTO2</label>
                <input type="file" name="foto2"  accept="image/png, image/jpeg"  multiple />
            <h2>Contato</h2>
                <label>E-mail</label>
                <input type="email" name="email" size="50" maxlength="80" /><br>
                <label>Telefone</label>
                <input type="tel" name="telefone" size="20" maxlength="20" /><br>
                <label>Celular</label>
                <input type="tel" name="celular" size="20" maxlength="20" /><br>
            <h2>Endereço</h2>
            <div class="form-row">
            <div class="col-7">
                <input name= "cidade" type="text" class="form-control" placeholder="Cidade">
            </div>
            <div class="col">
                <input name= "estado" type="text" class="form-control" placeholder="Estado">
            </div>
            <div class="col">
                <input name= "cep" type="text" class="form-control" placeholder="CEP">
            </div>
            </div>
                <div class="bottom">
                        <button type="submit">Enviar</button>
                        <input type="reset" value="limpar">
                        </div>



            </form>
        </div>
     
    </main>
{% endblock main %}